/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* CSS Variables */
:root {
  --header-height: 3rem;

  /* Colors */
  /* --primary-color: #da2535; */
  --primary-color: #fe9603;
  --primary-color-alt: #ffc509;
  --primary-color-send: #fe7a00;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --background-color: #f5f5f5;
  --container-color: #fff;

  /* Font */
  --body-font: "Roboto", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Border */
  --border-radius: 0.25rem;
  --border: 1px solid #eaeaea;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
  }
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Variables Dark Theme */
body.dark-theme {
  --background-color: #161212;
  --container-color: #1e1e1e;
  --title-color: #fff;
  --text-color: #fff;
  --text-color-light: #8f8a8a;
  --border: 1px solid #2e2e2e;
}

/* Toggle Button Dark / Light */
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2 rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.2;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Section Class */

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--big-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
  text-align: center;
}

/* LAYOUT DEFAULT */

.main {
  overflow: hidden;
}

.body-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.body-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.header {
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  width: 20%;
}

/* Navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--background-color);
  }

  .header .logo img {
    width: 40%;
  }
}

.nav-item {
  margin-bottom: var(--mb-3);
}

.nav-link,
.navToggle {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--primary-color);
}

.navToggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show Menu*/

.show-menu {
  top: calc(var(--header-height) + 1 rem);
}

/* Active Link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--title-color);
}

/* Change Background Header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(218, 37, 53, 0.5);
  border-radius: 0.4rem;
  z-index: var((--z-tooltip));
  transition: 0.4s;
  visibility: hidden;
}

.scroll-top:hover {
  background-color: var(--primary-color);
}

.scroll-top-icon {
  font-size: 1.5rem;
  color: var(--background-color);
}

.show-scroll {
  visibility: visible; /* show the scroll to top button*/
  bottom: 1rem;
}

/* HOME */
.home-container {
  row-gap: 0.5rem;
}

.home-img {
  width: 280px;
  justify-self: center;
}

.home-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home-description {
  margin-bottom: var(--mb-3);
}

/* Buttons */
.button {
  padding: 1rem 1.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  box-shadow: 0.5rem 0.5rem var(--primary-color);
  border: 2px solid var(--primary-color-alt);
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--primary-color-alt);
  border-color: #fe7a00;
}

.button-link {
  background: none;
  padding: 0;
  color: var(--primary-color);
}

/* Footer */
.footer {
  padding: 2rem 5%;
  background-color: var(--background-color);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  column-gap: 2rem;
}

.footer .box {
  margin-bottom: var(--mb-3);
}

.footer .box-container .box h3 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
}

.footer .box-container .box a {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  padding: 0.5rem 0;
  transition: 0.3s;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footer .box-container .box a:hover {
  box-shadow: inset 350px 0 0 0 var(--primary-color);
  color: #fff;
}

.footer .box-container .box i {
  padding-right: 0.5rem;
  color: var(--primary-color);
}

.footer .box-container .box a i:hover {
  color: white;
}

.footer .copyright {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #000;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .copyright a {
  color: var(--primary-color);
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home-container {
    padding: 5rem 0 0;
  }

  .home-img {
    order: 1;
  }

  .home-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .navToggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home-container {
    padding: 7rem 2rem 0;
  }
}

@media screen and (min-width: 968px) {
  .body-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home-img {
    width: 469px;
  }

  .home-container {
    column-gap: 5rem;
  }
}
